torch==1.13.1
numpy==1.24.1
pandas~=1.5.2
scikit-learn==1.2.0
termcolor~=2.1.1
Pillow~=9.3.0
torchvision==0.14.1
transformers==4.25.1
pyyaml~=6.0
scikit-image~=0.19.2
matplotlib
tqdm
scipy~=1.9.3
torchmetrics
lime~=0.2.0.1
shap~=0.41.0